@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: #2e2e44;

  display: flex;
  justify-content: center;
  align-items: center;
}

.digital-clock {
  position: relative;
  color: #fff;
  background: #2d2f41;
  width: 500px;
  padding: 25px 45px;
  box-shadow: 0 5px 25px rgba(14, 21, 37, 0.8);
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.digital-clock::before {
  content: "";
  position: absolute;
  background: linear-gradient(45deg, #24ff6d, #2f93f1, #ff5e9a);
  background-size: 200% 200%;
  inset: -5px;
  z-index: -1;
  filter: blur(40px);
  animation: glow 10s ease infinite;
}

@keyframes glow {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.time {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.time :is(.hours, .dots, .minutes) {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 600;
  padding: 0 10px;
  line-height: 125px;
}

.time :where(.hours, .minutes) {
  font-size: 6.5em;
  width: 125px;
}

.dots {
  font-size: 5em;
  color: #929292;
}

.hours {
  background: -webkit-linear-gradient(90deg, #634dff, #5fdaff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.minutes {
  background: -webkit-linear-gradient(90deg, #ff5e9a, #ffb960);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.right-side {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 10px;
}

.right-side :is(.period, .seconds) {
  font-size: 1.2em;
  font-weight: 500;
}

.period {
  transform: translateY(-20px);

  background: -webkit-linear-gradient(90deg, #f7b63f, #faf879);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.seconds {
  transform: translateY(16px);

  background: -webkit-linear-gradient(90deg, #24ff6d, #2f93f1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.calendar {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.3em;
  font-weight: 500;
  margin-bottom: 5px;

  background: -webkit-linear-gradient(90deg, #ae4af6, #ff98d1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.calendar :where(.day-name, .day-number, .year) {
  margin-left: 8px;
}

/* Time Formatter switch */
.threeDots {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  color: #efefef;
  font-size: 1.5em;
  cursor: pointer;
  width: 20px;
}

.dot-menu {
  z-index: 999;

  position: absolute;
  top: 7px;
  right: 5px;

  list-style: none;
  background: #353e54;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);

  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.dot-menu.active {
  visibility: visible;
  opacity: 1;
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-form-text {
  color: #efefef;
  font-size: 0.9em;
  margin-right: 20px;
}

.format-switch-btn {
  width: 35px;
  height: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #485470;
  border-radius: 75px;
  box-shadow: inset 2px 2px 4px rgba(225, 225, 225, 0.1),
    inset -2px -2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.format-switch-btn::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;

  background: #ff5e9a;
  box-shadow: 0 5px 25px #ff5e9a;
  border-radius: 50%;
  transform: translateX(-10px);
  transition: 0.3s ease-in-out;
  transition-property: background, transform;
}

.format-switch-btn.active::before {
  background-color: #0bff8d;
  box-shadow: 0 5px 25px #0bff8d;
  transform: translateX(10px);
}

/* Responsive */
@media (min-width: 20rem) and (max-width: 64rem) {
  .digital-clock {
    width: 90vw;
    padding: 20px 30px;
  }

  .time :where(.hours, .minutes) {
    font-size: 4.5em;
    width: 90px;
  }

  .dots {
    font-size: 3.5em;
  }

  .right-side :is(.period, .seconds) {
    font-size: 1em;
  }

  .calendar {
    font-size: 1em;
  }
}
